<div class="header">
    <div class="image text-white">
        logo
    </div>
    <div class="d-flex align-items-center" id="navigation">
        <ul class="nav-list-items gap-3">
            <li class="nav-item ">
                <a href="" class="nav-anchor-items" aria-current="page" href="#" (click)="home()">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-anchor-items" aria-current="page" href="#" (click)="tradition()">Tradition</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-anchor-items" aria-current="page" href="#" (click)="clan()">Clan</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-anchor-items" aria-current="page" href="#" (click)="history()">History</a>
            </li>
            <li class="">
                <a href="" class="nav-anchor-items" aria-current="page" href="#" (click)="images()">Images</a>
            </li>
        </ul>
    </div>
</div>